* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-size: cover;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 100px;
}

.dud {
  color: #e12fc3;
}

.text {
  font-weight: 900;
  font-size: 50px;
  color: rgb(84, 158, 562);
}

.scroll {
  margin-top: 45px;
}

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.main-text a {
  text-decoration: none;
}

.lesson {
  border: 2px solid #404144;
  margin-bottom: 20px;
}

.succes {
  border: 2px solid green;
}

.danger {
  border: 2px solid #9e0000;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul .inner {
  overflow: hidden;
  display: none;
}

ul .inner.show {
  /*display: block;*/
}

ul li {
  margin: .5em 0;
  margin-bottom: 20px;
}

ul li a.toggle {
  min-width: 350px;
  max-width: 640px;
  display: block;
  color: #fefefe;
  padding: .75em;
  border-radius: 5px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  margin-bottom: 5px;
}

ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.6);
}

p {
  max-width: 640px;
  text-align: start;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  white-space: pre-line;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 66%;
  font-size: 35px;
  height: 175px;
  font-weight: 900;
  font-family: 'Geometria bold';
}

.wave {
  color: #a30404;
  -webkit-animation: 0.5s color infinite;
          animation: 0.5s color infinite;
}

@-webkit-keyframes color {
  70% {
    color: #010f4d;
  }
}

@keyframes color {
  70% {
    color: #010f4d;
  }
}

.wave-text {
  height: 52vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 500px;
          perspective: 500px;
  margin-bottom: -355px;
}

.change {
  will-change: transform;
}

#ui {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#ui .change-text {
  position: absolute;
  font-size: 10rem;
  color: #fff;
  line-height: 10rem;
  font-family: 'Anton', sans-serif;
  padding: 20px 0;
  mix-blend-mode: screen;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#ui .change-text:nth-child(1) {
  -webkit-clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
          clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
  -webkit-animation: wave 2000ms -10000ms ease-in-out infinite alternate;
          animation: wave 2000ms -10000ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(2) {
  -webkit-clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
          clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
  -webkit-animation: wave 2000ms -9800ms ease-in-out infinite alternate;
          animation: wave 2000ms -9800ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(3) {
  -webkit-clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
          clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
  -webkit-animation: wave 2000ms -9600ms ease-in-out infinite alternate;
          animation: wave 2000ms -9600ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(4) {
  -webkit-clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
          clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
  -webkit-animation: wave 2000ms -9400ms ease-in-out infinite alternate;
          animation: wave 2000ms -9400ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(5) {
  -webkit-clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
          clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
  -webkit-animation: wave 2000ms -9200ms ease-in-out infinite alternate;
          animation: wave 2000ms -9200ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(6) {
  -webkit-clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
          clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
  -webkit-animation: wave 2000ms -9000ms ease-in-out infinite alternate;
          animation: wave 2000ms -9000ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(7) {
  -webkit-clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
          clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
  -webkit-animation: wave 2000ms -8800ms ease-in-out infinite alternate;
          animation: wave 2000ms -8800ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(8) {
  -webkit-clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
          clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
  -webkit-animation: wave 2000ms -8600ms ease-in-out infinite alternate;
          animation: wave 2000ms -8600ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(9) {
  -webkit-clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
          clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
  -webkit-animation: wave 2000ms -8400ms ease-in-out infinite alternate;
          animation: wave 2000ms -8400ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(10) {
  -webkit-clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
          clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
  -webkit-animation: wave 2000ms -8200ms ease-in-out infinite alternate;
          animation: wave 2000ms -8200ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(11) {
  -webkit-clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
          clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
  -webkit-animation: wave 2000ms -8000ms ease-in-out infinite alternate;
          animation: wave 2000ms -8000ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(12) {
  -webkit-clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
          clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
  -webkit-animation: wave 2000ms -7800ms ease-in-out infinite alternate;
          animation: wave 2000ms -7800ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(13) {
  -webkit-clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
          clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
  -webkit-animation: wave 2000ms -7600ms ease-in-out infinite alternate;
          animation: wave 2000ms -7600ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(14) {
  -webkit-clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
          clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
  -webkit-animation: wave 2000ms -7400ms ease-in-out infinite alternate;
          animation: wave 2000ms -7400ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(15) {
  -webkit-clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
          clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
  -webkit-animation: wave 2000ms -7200ms ease-in-out infinite alternate;
          animation: wave 2000ms -7200ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(16) {
  -webkit-clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
          clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
  -webkit-animation: wave 2000ms -7000ms ease-in-out infinite alternate;
          animation: wave 2000ms -7000ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(17) {
  -webkit-clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
          clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
  -webkit-animation: wave 2000ms -6800ms ease-in-out infinite alternate;
          animation: wave 2000ms -6800ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(18) {
  -webkit-clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
          clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
  -webkit-animation: wave 2000ms -6600ms ease-in-out infinite alternate;
          animation: wave 2000ms -6600ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(19) {
  -webkit-clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
          clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
  -webkit-animation: wave 2000ms -6400ms ease-in-out infinite alternate;
          animation: wave 2000ms -6400ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(20) {
  -webkit-clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
          clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
  -webkit-animation: wave 2000ms -6200ms ease-in-out infinite alternate;
          animation: wave 2000ms -6200ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(21) {
  -webkit-clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
          clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
  -webkit-animation: wave 2000ms -6000ms ease-in-out infinite alternate;
          animation: wave 2000ms -6000ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(22) {
  -webkit-clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
          clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
  -webkit-animation: wave 2000ms -5800ms ease-in-out infinite alternate;
          animation: wave 2000ms -5800ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(23) {
  -webkit-clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
          clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
  -webkit-animation: wave 2000ms -5600ms ease-in-out infinite alternate;
          animation: wave 2000ms -5600ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(24) {
  -webkit-clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
          clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
  -webkit-animation: wave 2000ms -5400ms ease-in-out infinite alternate;
          animation: wave 2000ms -5400ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(25) {
  -webkit-clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
          clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
  -webkit-animation: wave 2000ms -5200ms ease-in-out infinite alternate;
          animation: wave 2000ms -5200ms ease-in-out infinite alternate;
}

#ui .change-text:nth-child(26) {
  -webkit-clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
          clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
  -webkit-animation: wave 2000ms -5000ms ease-in-out infinite alternate;
          animation: wave 2000ms -5000ms ease-in-out infinite alternate;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.9) rotateX(10deg) rotateY(10deg);
            transform: translate(-50%, -50%) scale(0.9) rotateX(10deg) rotateY(10deg);
    color: #e9493a;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg);
            transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg);
    color: #1c43b9;
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.9) rotateX(10deg) rotateY(10deg);
            transform: translate(-50%, -50%) scale(0.9) rotateX(10deg) rotateY(10deg);
    color: #e9493a;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg);
            transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg);
    color: #1c43b9;
  }
}

@font-face {
  font-family: 'Geometria Bold';
  src: url("../fonts/Geometria-Bold/Geometria-Bold.eot");
  src: url("../fonts/Geometria-Bold/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold/Geometria-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.loading {
  overflow: hidden;
}

.loader {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}

.loader:before, .loader:after {
  content: "";
  height: 60px;
  width: 60px;
  border: 5px solid #b62aaf;
  border-radius: 10px;
  position: absolute;
  top: 0;
}

.loader:before {
  -webkit-animation: animate 2s infinite linear;
          animation: animate 2s infinite linear;
}

.loader:after {
  -webkit-animation: animate2 2s infinite linear;
          animation: animate2 2s infinite linear;
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: rotate(180deg) skew(360deg);
            transform: rotate(180deg) skew(360deg);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: rotate(180deg) skew(360deg);
            transform: rotate(180deg) skew(360deg);
  }
}

@-webkit-keyframes animate2 {
  100% {
    -webkit-transform: rotate(-180deg) skew(-360deg);
            transform: rotate(-180deg) skew(-360deg);
  }
}

@keyframes animate2 {
  100% {
    -webkit-transform: rotate(-180deg) skew(-360deg);
            transform: rotate(-180deg) skew(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */