*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 66%;
  font-size: 35px;
  height: 175px;
  font-weight: 900;
  font-family: 'Geometria bold';
}

.wave {
  color: rgb(163, 4, 4);
  animation: 0.5s color infinite;
}

@keyframes color {
  70% {
    color: #010f4d;
  }
}

$fontSize: 10rem;



.wave-text {
  height: 52vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  margin-bottom: -355px;
}

.change {
  will-change: transform;
}

#ui {
  transform-style: preserve-3d;
  .change-text {
    position: absolute;
    font-size: $fontSize;
    color: #fff;
    line-height: $fontSize;
    font-family: 'Anton', sans-serif;
    padding: 20px 0;
    mix-blend-mode: screen;
    transform-style: preserve-3d;
    @for $i from 1 through 26 {
      $key: $i - 1;
      $param: 5;
      &:nth-child(#{$i}) {
        clip-path: polygon(
          -30% + ($key * $param) 0,
          -20% + ($key * $param) 0,
          20% + ($key * $param) 100%,
          0% + ($key * $param) 100%
        );
        animation: wave 2000ms $key * 200 - 10000ms ease-in-out infinite alternate;
      }
    }
  }
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0.9) rotateX(10deg) rotateY(10deg);
    color: #e9493a;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg);
    color: rgb(28, 67, 185);
  }
}